<span class="span_left_align">* Entry Date:</span>
<span class="span_right_align"><%= f.date_select :entry_date,
  { start_year: (Time.now - session[:time_difference]).year - 1, end_year: (Time.now - session[:time_difference]).year + 1, use_short_month: true, order: [:month, :day, :year],
    default: { :month => (Time.now - session[:time_difference]).month, :day => (Time.now - session[:time_difference]).day, :year => (Time.now - session[:time_difference]).year } } %>
</span><br><br>