/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Overall page formatting */

body {
  background-color: #E6E6FA;
  font-family: arial, sans-serif;
  font-size: medium;
  text-align: center;
}

#main_layout {
  display: inline-block;
  height: 800px;
  width: 800px;
  /* background-color: pink;  */ /* For diagnostics only */
}

#left_menu {
  float: left;
  height: 400px;
  margin: 25px 50px 25px 25px;
  width: 166px;
  text-align: left;
  /* background-color: yellow;  */  /* For diagnostics only */
}

#center_private_layout {
  float: left;
  margin: 20px 0 0 0;
  text-align: left;
  width: 500px;
  /* background-color: lightskyblue;  */  /* For diagnostics only */
}

#center_public_layout {
  display: inline-block;
  margin: 20px 0 0 0;
  text-align: left;
  /* background-color: greenyellow;  */  /* For diagnostics only */
}

#bottom_layout {
  clear: both;
  /* background-color: peru;  */  /* For diagnostics only */
}

/* Component formatting */

select[id*=name] {
  height: 24px;
  padding-left: 3px;
  padding-top: 3px;
}

select[id*=date] {
  height: 24px;
  padding-top: 3px;
}

.button {
  width: 80px;
}

.large_button {
  width: 160px;
}

.button, .large_button {
  border-color: #000000;
  margin: 0 10px 0 10px;
  padding: 2px 0 2px 0;
}

.button:hover:enabled, .large_button:hover:enabled {
  background-color: #B0C4DE;
}

button[type=button]:disabled, input[type=submit]:disabled, input[type=button]:disabled {
  background: #C0C0C0;
  color: #D8D8D8;
}

.dollar_text_field {
  height: 18px;
  padding-right: 4px;
  text-align: right;
  width: 150px;
}

.text_field {
  height: 18px;
  padding-left: 4px;
  width: 150px;
}

.span_left_align {
  float: left;
  height: 20px;
  margin: 4px 0 0 4px;
  /* background-color: dodgerblue;  */  /* For diagnostics only */
}

.span_right_align {
  float: right;
  height: 20px;
  margin: 4px 4px 0 0;
  /* background-color: magenta;  */  /* For diagnostics only  */
}

.left_align_paragraph {
  text-align: left;
}

.warning {
  color: #FF0000;
}

.hidden_class {
  display: none;
}

#error_notice {
  color: #FF0000;
}

#success_notice {
  color: #008000;
}

.ui-datepicker {
  font-size: small;
}

.ui-datepicker-current-day
{
  background: #006600;
}

/* Menu formatting */

ul {
  padding: 0;
}

li {
  font-size: 95%;
  list-style-type: none;
}

li a {
  display: block;
  text-decoration: none;
}

.menu_items {
  background-color: #B2BCC2;
  border: 1px solid black;
  padding: 2px 0 2px 8px;
}

.submenu_items {
  background-color: #C6D0D6;
  border: 1px solid black;
  border-top: none;
  padding: 2px 0 2px 8px;
}

.submenu_items:hover {
  background-color: #9EA8AE;
}

.submenu_items:hover a {
  color: #FFFFFF;
}

/* Chart formatting */

#piechart {
  display: block;
  font-size: small;
  margin: auto;
}

#linechart {
  height: 400px;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 570px;
}

/* Table formatting */

#data_table {
  max-height: 400px;
  overflow: auto;
}

.data_columns {
  background-color: #C0C0C0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  max-width: 100px;
  min-width: 100px;
}

table {
  border-collapse: collapse;
  font-size: small;
  text-align: center;
}

th, td {
  padding: 4px 0 4px 0;
}

tr:nth-child(even) {
  background-color: #C0C0C0;
}

tr:nth-child(odd) {
  background-color: #D0D0D0;
}

tfoot {
  font-weight: bold;
}

.table_cell_no_display {
  display: none;
}

.table_text_field {
  height: 18px;
  text-align: center;
  width: 94px;
}

.table_text_field_left{
  height: 18px;
  padding-left: 3px;
  text-align: left;
  width: 94px;
}

.table_button_cell {
  background-color: #E6E6FA;
  padding-left: 20px;
}

.table_button_cell_no_display {
  background-color: #E6E6FA;
  display: none;
  padding-left: 20px;
}

.table_button {
  border-color: #000000;
  height: 26px;
  width: 70px;
}

.table_button:hover:enabled {
  background-color: #B0C4DE;
}

.span_left_align_table {
  float: left;
  margin-left: 10px;
}

.span_right_align_table {
  float: right;
  margin-right: 20px;
}